@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

// Colors
$white: #f1e8e8;
$black: #1a0612;
$accent: #b53471;
$brown: #310c24;
$light_brown: #511734;

// Shadows
$bx_accent: 0 4px 4px rgba($accent, 0.25);
$bx_16: 0 3px 6px rgba(0, 0, 0, 0.16);

// Fonts
$default_font: 'Sofia Sans', sans-serif;

//Resolution
$mobile: 480px;
